form {
    display: flex;
    /* background-color: yellowgreen; */
    padding: 10px;
    margin-top: 20px;
    height: 60px;
}
input, #login-form button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    width: 100%;
}
#login-form button {
    width: 30%;
}
input::placeholder {
    color: whitesmoke;
}
#login-greeting {
    background-color: yellowgreen;
    height: 100%;
}